<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div class="container">

        <div class="container">
            <br>
            <br>

            <div class="row align-items-center justify-content-center">
                <h1>Cadastrar usuário</h1>
            </div>
            <br>
            <form method="POST">

                <label for="name">Nome do Usuário</label>
                <div class="form-row">
                    <input class="form-control" type="text" id="nome" name="nome">
                </div>
                <div>
                    <button type="submit " class="btn btn-primary ">Cadastrar Usuário</button>
                </div>            
            </form>
            <br><br>
        </div>
    </div>
</body>
</html>