{% extends "base.html" %}
{% load staticfiles %}


{% block sub_page_name %}
  <h3 class="title my-4">{{ sub_pagename|default:model_verbose_name_plural|capfirst }}</h3>
{% endblock sub_page_name %}

{% block content %}
  <article>
    <section>
      <div class="row">
        <div class="col col-md-12">
          <div class="card card-primary">
            {% block card_header %}
              <div class="card-header bg-light">
                {% block crete_url_block %}
                  {% if create_url %}
                    {% if user.is_authenticated %}
                    <div class="float-right d-inline-block">
                      <a class="btn btn-sm btn-primary" href="{% url create_url %}">
                        <i class="fa fa-plus white-icon"></i> Adicionar
                      </a>
                    </div>
                    {% endif %}
                  {% endif %}
                {% endblock crete_url_block %}
              </div>
            {% endblock card_header %}
            <div class="card-body">
              <form id="search_form" method="GET" {% block action %}action="."{% endblock %}>
                <div class="form-row justify-content-between d-print-none">
                </div>
              </form>
              <div class="table-responsive mt-5">
                <table class="table table-sm table-striped table-bordered table-hover mb-0">
                  {% block table_content %}
                  {% endblock table_content %}
                </table>
              </div>
            </div>
            <div class="card-footer">
              {% block card_footer %}
                {% include "components/pagination.html" %}
              {% endblock card_footer %}
            </div>
          </div>
        </div>
      </div>
    </section>
  </article>
{% endblock content %}

