{% extends "base.html" %}

{% load static %}


{% block sub_page_name %}
{% if user.is_authenticated %}
  <h3 class="title">
  {% if form.instance.pk %}
    {{ form.instance }}
    ({{ sub_pagename|default:model_verbose_name|capfirst }})
  {% else %}
    {{ sub_pagename|default:model_verbose_name|capfirst }}
  {% endif %}
  </h3>
{% endif %}
{% endblock sub_page_name %}


{% block content %}
  <article>
    <section>
      <div class="row">
        <div class="col col-md-12">
          <form id="{% block form_id %}id-form{% endblock form_id %}" enctype="multipart/form-data" method="POST" novalidate>
            {% csrf_token %}
            <div class="card card-primary">
              {% block card_header %}
              <div class="card-header bg-ligth">
                {% block extra_card_head %}
                {% endblock extra_card_head %}
              </div>
              {% endblock card_header %}
                <div class="card-body">

                  {% block form_content %}{% endblock form_content %}
                </div>
                <div class="card-footer">
                  {% block list_url_block %}
                      {% if user.is_authenticated %}
                        <a class="btn btn-outline-primary" href="{% url list_url %}">
                          <i class="fa fa-arrow-circle-o-left white-icon"></i> Voltar
                        </a>
                      {% else %}
                        <a class="btn btn-outline-primary" href="{% url 'login' %}">
                          <i class="fa fa-arrow-circle-o-left white-icon"></i> Voltar
                        </a>
                      {% endif %}
                  {% endblock list_url_block %}
                  {% if user.is_authenticated %}
                  <div class="float-right d-inline-block">
                    <button class="btn btn-outline-primary" type="reset">
                      <i class="fa fa-ban white-icon"></i> Limpar
                    </button>
                    {% endif %}
                    {% block save_btn %}
                      <button class="btn btn-primary" type="submit">
                        <i class="fa fa-plus-square white-icon"></i> {{ save_btn_label|default:'Salvar' }}
                      </button>
                    {% endblock save_btn %}
                  </div>
                </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </article>
{% endblock content %}
